header{
        position: sticky;
    }

.header_Logo{
display: block;
object-fit: contain;
width: 50%;
height: 20%;
}

main{
    background-image: url(./assets/imgcarouselgris.png);
}


.nav-link{
    width: 100px;
    height: 100px;

}

.card-title{
     text-shadow: 1px 1px 2px black, 0 0 0.2em purple;
     color: white;
}

.card-text{
    font-weight: 600;
    text-shadow: 1px 1px 2px black, 0 0 0.2em rgb(165, 32, 105);
    color: white;
}

.card-foot{
    font-weight: 600;
    text-shadow: 1px 1px 2px black, 0 0 0.2em rgb(70, 36, 116);
    color: white;
}

.btn{
    background-color: grey;
    color: aliceblue;
    font-weight: 600;
    border-radius: 0.25rem;
}